@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");
.container {
  padding: 1em;
}

.class_card {
  width: 80%;
  margin: 1em auto 4em;
  text-align: center;
  color: #1F1E2C;
  font-size: 0.8em;
  overflow: hidden;
}

.class_card .classcard-bg {
  width: 80%;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  z-index: -1;
}

.class_card .classcard-bg img {
  border-radius: 0.5em;
  max-width: 100%;
  height: 170px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 100%;
     object-position: 0 100%;
}

.class_card .class-infos {
  text-align: center;
}

.class_card .class-infos h4 {
  font-size: 2em;
  margin: 2em 0 0;
}

.bar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
}

.bar ul li {
  font-size: 1em;
  font-weight: bold;
  margin: 0.5em auto;
}

.bar ul li:hover {
  cursor: pointer;
  color: #6472F9;
}

#teacher {
  display: none;
  margin-top: 3em;
  padding: 2em 0.5em 1em 0.5em;
}

#teacher .img-name-mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
}

#teacher .img-name-mail img {
  border-radius: 50%;
  height: 7em;
  width: 7em;
  margin-right: 0.8em;
}

#teacher .img-name-mail .n_m {
  font-size: 20px;
  font-weight: 500;
}

#teacher .img-name-mail .n_m .name {
  font-size: larger;
}

#teacher .img-name-mail .n_m .mail {
  font-size: small;
}

#teacher .about {
  padding: 2em;
  padding-top: 0em;
}

#teacher .about h5 {
  margin: 1em 0 0;
  color: #6472F9;
  font-weight: bold;
  font-size: 1.1em;
}

#no-posts {
  text-align: center;
}

#no-posts h2 {
  font-weight: 300;
}

#content {
  display: none;
  width: 100%;
  margin: 3em auto 0;
}

#content .post {
  display: block;
  padding: 1em;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 270px;
  background-color: #353C51;
  border-radius: 0.5em;
  margin: 0 auto 3em;
  -webkit-box-shadow: 0px 0px 15px -3px #6472F9;
          box-shadow: 0px 0px 15px -3px #6472F9;
  place-items: center;
  border-bottom: 1px solid white;
}

#content .top_post {
  position: relative;
}

#content .top_post h4 {
  float: left;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 0.9em;
  font-size: 1.2em;
  margin-top: 0em;
  padding-left: 1em;
}

#content .top_post h4 span {
  font-weight: lighter;
  font-size: 0.6em;
  color: lightgrey;
  margin: 0;
}

#content .top_post .edit {
  float: right;
  margin: 0.1em 1em 0 0;
  height: 1em;
}

#content .top_post .edit img {
  height: 1.2em;
  cursor: pointer;
  padding-left: 30%;
}

#content .top_post .edit .show_options {
  display: block;
  text-align: center;
}

#content .top_post .edit ul {
  width: 5em;
  display: none;
  list-style-type: none;
  background-color: #1F1E2C;
  -webkit-box-shadow: 0px 0px 15px -2px #6472F9;
          box-shadow: 0px 0px 15px -2px #6472F9;
  color: white;
  font-weight: bold;
  font-size: small;
  border-radius: 1em;
  padding: 0.4em 1em 0.4em 1em;
  position: absolute;
  top: 50%;
  right: 0%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: .2s ease opacity,.2s ease transform;
  transition: .2s ease opacity,.2s ease transform;
}

#content .top_post .edit ul li {
  cursor: pointer;
  margin: 0.7em 0.5em;
}

#content .top_post .edit ul li:hover {
  color: #6472F9;
}

#content .commentaire .comm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#content .commentaire .comm input[type=text] {
  width: 95%;
  border: solid;
  border-radius: 1em;
  background-color: white;
  border-color: #6472F9;
  height: 2.5em;
  text-align: center;
  color: black;
  margin-right: 2%;
}

.post_content .post_descr {
  margin: 0 auto;
  width: 95%;
}

.post_content .post_descr blockquote {
  overflow: auto;
  white-space: pre-line;
  white-space: pre-wrap;
  font-size: 0.9em;
  margin: 0 0 3em;
}

.post_content .attach {
  padding-top: 0.5em;
  margin: 2em auto;
  border: solid;
  border-radius: 0.5em;
  background-color: #1F1E2C;
  border-color: #6472F9;
  height: 2em;
  width: 100%;
  text-align: center;
}

.post_content .attach a {
  text-decoration: none;
  color: #6472F9;
}

#participants {
  display: none;
  width: 80%;
  margin: 3em auto 0;
}

#participants .student {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 95% 5%;
      grid-template-columns: 95% 5%;
}

#participants .student {
  position: relative;
  border-bottom: 0.5px solid white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.5em 0;
}

#participants .student .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#participants .student .info .pic {
  padding-left: 0.5em;
  margin-right: 1.5em;
}

#participants .student .info .pic img {
  height: 2.8em;
  border-radius: 50%;
}

#participants .student .info h3 {
  font-weight: lighter;
}

#participants .student .edit_std {
  height: 1.5em;
  cursor: pointer;
}

.create #create_btn {
  display: inline-block;
  font-size: 1.2em;
  font-weight: bold;
  background: #6472F9;
  border-radius: 5em;
  margin: -1em 0 2em 0;
  padding: 1em 1.5em;
  cursor: pointer;
  -webkit-box-shadow: 2px 2px 10px -5px white;
          box-shadow: 2px 2px 10px -5px white;
}

.remove {
  width: 5em;
  list-style-type: none;
  background-color: white;
  -webkit-box-shadow: 0px 0px 15px -2px #6472F9;
          box-shadow: 0px 0px 15px -2px #6472F9;
  color: #1F1E2C;
  font-weight: bold;
  font-size: small;
  border-radius: 1em;
  padding: 0.4em 1em 0.4em 1em;
  position: absolute;
  right: 0%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: .2s ease opacity,.2s ease transform;
  transition: .2s ease opacity,.2s ease transform;
}

.remove a {
  color: #1F1E2C;
}

.remove a:hover {
  color: #6472F9;
}

.remove li {
  cursor: pointer;
  margin: 0.7em 0.5em;
}

.remove li:hover {
  color: #6472F9;
}

.require {
  color: RED;
}

#bg-popup {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  justify-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 999;
}

#bg-popup .c-container {
  position: relative;
  top: 20vh;
  width: 270px;
  opacity: 1;
  margin: 0 auto;
  color: black;
  background-color: #f2f2f2;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 0.5em;
  padding: 2em;
  -webkit-box-shadow: 0px 0px 15px -2px #6472f9;
          box-shadow: 0px 0px 15px -2px #6472f9;
}

#bg-popup .top-create {
  display: block;
  text-align: center;
  margin: -0.5em 0 1em;
  font-size: larger;
  font-weight: 600;
  color: #6472F9;
}

#bg-popup .set-info {
  top: 50vh;
}

#bg-popup .set-info input, #bg-popup .set-info textarea {
  display: block;
  width: 100%;
  margin: 0 0 1em;
  resize: none;
}

#bg-popup .set-info button {
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  border: 1px solid black;
  border-radius: 0.5em;
  display: inline-block;
  padding: 6px 12px;
  font-weight: 500;
  cursor: pointer;
}

#bg-popup .set-info button:hover {
  background-color: #6472F9;
  color: #f2f2f2;
}

#bg-popup .set-info input[type="file"] {
  display: block;
  padding: 0.5em 0;
  cursor: pointer;
}

#bg-popup .set-info .inpt-cls {
  color: black;
  font-size: 1em;
  height: 2.5em;
  border-radius: 0.5em;
  margin: 0.5em auto 1em;
  padding: 0 1em;
  border: 0.5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#bg-popup .set-info .inpt-cls:focus {
  background-color: white;
  font-weight: bold;
  border: none;
}

#bg-popup .set-info .form-control {
  color: black;
  font-size: 1em;
  border-radius: 0.5em;
  margin: 0.5em auto 1em;
  padding: 0.5em 1em;
  border: 0.5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#bg-popup .set-info .form-control:focus {
  background-color: white;
  font-weight: bold;
  border: none;
}

.show_comments, .hide_comments {
  cursor: pointer;
}

.showing-more {
  display: block !important;
}

.comment {
  display: none;
}

.comments {
  width: 90%;
}

.comments .comment {
  padding-top: 10px;
}

.comments .comment .name {
  display: inline;
  padding: 0 5px 2px 0;
  margin: 0;
  font-size: 16px;
  color: lightgrey;
}

.comments .comment .date {
  color: #888888;
  font-size: 14px;
}

.comments .comment .content {
  padding: 2px 0;
  margin: 0;
  font-size: 0.9em;
}

.input_info {
  all: unset;
  overflow: visible;
  width: 100%;
  resize: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  white-space: pre-line;
  white-space: pre-wrap;
}

@media only screen and (min-width: 534px) {
  .class_card {
    font-size: 1em;
    margin: 1em auto 2em;
  }
  .bar {
    margin: 0 auto;
  }
  .bar ul li {
    font-size: 1.3em;
  }
  #teacher {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
  #teacher .img-name-mail {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    text-align: center;
  }
  #teacher .img-name-mail img {
    height: 9em;
    width: 9em;
  }
  #teacher .img-name-mail .n_m {
    font-size: 25px;
  }
  #teacher .about {
    padding: 1em;
  }
  #teacher .about h5 {
    font-size: 1.3em;
  }
  #content {
    width: 80%;
  }
  #content .post {
    width: 90%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  #content .top_post h4 {
    font-size: 1.3em;
  }
  #content .top_post h4 span {
    font-size: 0.7em;
  }
  #content .top_post .edit {
    margin-top: 0.1em;
    height: 1.1em;
  }
  #content .top_post .edit ul {
    width: 7em;
  }
  #content .top_post .edit ul li {
    font-size: 1.1em;
  }
  #content .commentaire .comm input[type=text] {
    width: 95%;
    font-size: 0.8em;
  }
  .create #create_btn {
    margin-left: 1em;
  }
  .post_content .post_descr blockquote {
    font-size: 1em;
  }
  #participants {
    width: 70%;
  }
  #participants img {
    height: 3em;
  }
  #participants h3 {
    font-size: 1.2em;
  }
  #bg-popup .c-container {
    width: 60%;
    font-size: 1.2em;
  }
  #bg-popup .c-container .set-info button {
    padding: 10px 15px;
    margin-right: 0.5em;
    font-size: medium;
  }
}

@media only screen and (min-width: 1024px) {
  .bar {
    width: 60%;
  }
  #teacher .img-name-mail {
    text-align: center;
  }
  #teacher .img-name-mail img {
    height: 12em;
    width: 12em;
  }
  #teacher .img-name-mail .n_m {
    font-size: 2em;
  }
  #teacher .img-name-mail .n_m .mail {
    font-size: large;
  }
  #teacher .about {
    font-size: larger;
  }
  #participants .student {
    font-size: larger;
  }
  #content {
    width: 60%;
  }
  #content .post {
    font-size: larger;
  }
  #bg-popup .c-container {
    width: 600px;
    font-size: 1.3em;
  }
}
/*# sourceMappingURL=class.css.map */