@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');


body {
    background: #1f1e2c;
    font-family: Poppins, Montserrat, sans-serif;
    margin: 0 auto;
    padding: 0;
    color : white;
}

.bg {
    width: 100%;
    min-height: 100%;
    padding-top: 12%;
    
    .logo {
        display: block;
        text-align: center;
    }
    .container{
        //display: none;
        display:flex;
        background-color: #1f1e2c;
        width: 70%;
        max-width: 600px;
        margin : 1em auto;
        padding: 1em;
        overflow: hidden;
        
        justify-content: center;
        justify-items: center;
        text-align: center;
        border-radius: 1em;
        box-shadow: 0px 0px 15px -2px #6472f9 ;
        h4{
        font-size: 1.5em;
        color: #6472f9;
    }
    }
}

input{
    width: 20em;
    border: solid #6472f9;
    border-radius: 1em;
    height: 2em;
    margin-top: 0.5em;
    background-color: #f2f2f2;
    font-size: 1em;
    font-weight: bold;
    text-align: center;

}
button{
    background-color: #6472f9; 
    border: none;
    border-radius: 1em;
    color: white;
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 1em;
    cursor: pointer;

    &:hover{
        background-color: #f2f2f2;
        color: #6472f9;
        font-weight: bold;
    }
}
.create-acc{
    span{
        color: #6472f9;
        cursor: pointer;
    }
}
.pswrd{
    color: #6472f9;
    font-size: 0.8em;
    margin: 0em;
    margin-top: 1em;
    cursor: pointer;
    &:hover{
        text-decoration: underline;
    }

}
.hidepswrd{
    display: none;
    color: #6472f9;
    font-size: 0.8em;
    margin: 0em;
    margin-top: 1em;
    cursor: pointer;
    &:hover{
        text-decoration: underline;
    }
}
.left{
    display: none;
}

.half{
    background-color: #ebefff;
    margin: -2em;
    margin-left: -4em;
}

@media only screen and (min-width:700px)
{
    .container{
        max-width: fit-content;
        padding: 2em 4em;
        background-image: linear-gradient(to right, #ebefff 40%, rgba(0,0,0,0) 20%);

    }
    .left{
        display: block;
        margin-right: 4em;
        h4{
            margin-bottom: 0em;
        }
        img{
            width: 200px;
            height: 300px;
        }
    }
    input{
        margin-bottom: 0.5em;
    }
}
.container_sign-up{
    display: none;
 //   display:flex;
    background-color: #1f1e2c;
    width: 70%;
    max-width: 600px;
    min-width: fit-content;
    margin : 2em auto;
    margin-right: 0em;
    padding: 1em ;
    justify-content: center;
    justify-items: center;
    border-radius: 1em;
    box-shadow: 0px 0px 15px -2px #6472f9 ;
      h4{
        font-size: 1.7em;
        color: #6472f9;
        text-align: center;
        margin-bottom: 2em;
    }
    .set-info{
        justify-content: space-between;
        justify-items: center;
        text-align: center;
        display: flex;
        margin: 1em;
    }
    input{
        width: 16em;
        border: solid #6472f9;
        border-radius: 1em;
        height: 2em;
        margin-top: 0.5em;
        background-color: #f2f2f2;
        font-size: 1em;
        font-weight: bold;
        text-align: center;
        position: relative;
        margin-left: 1em;
    }
    .pswrd{
    color: #6472f9;
    font-size: 0.8em;
    margin: 0em;
    margin-top: 1em;
    cursor: pointer;
    &:hover{
        text-decoration: underline;
    }

    }
    .sh{
        position: relative;
        left: 50%;
        margin-top: -1em;
    }
    .hidepswrd{
        display: none;
        color: #6472f9;
        font-size: 0.8em;
        margin: 0em;
        margin-top: 1em;
        cursor: pointer;
        &:hover{
            text-decoration: underline;
        }
    }
  
   
}
.sign_up{
    margin-top: 1em;
    text-align: center;
}
.sign_in{
        text-align: center;
        margin-bottom: 1em;
         span{
        color: #6472f9;
        cursor: pointer;

        }
    }
.left_side{
    display: none;
}
  

@media only screen and (min-width:700px)
{
    .left_side{
        display: block;
        margin-right: 4em;
        h4{
            margin-bottom: 0em;
        }
        img{
            width: 200px;
            height: 500px;
        }
    }
    .container_sign-up{
        margin: 5em auto;
        margin-top: 3em;
        width: 80%;
        background-image: linear-gradient(to right, #ebefff 32%, rgba(0,0,0,0) 20%);

    }  
    .right_side{
        display: block;
        width: 80%;
    }
}