@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');


* {
    font-family: Poppins, Montserrat, sans-serif;
}
body {
    background: #1F1E2C;
    font-family: Poppins, Montserrat, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}

header {
    padding: 1em;
    background: #1F1E2C;
    z-index: 100;

    .logo {
        display: inline;
        text-align: center;
    }

    nav {
        transition: all 0.5s;
        display: none;
    }

    .navbar {
        display: flex;
        place-content: space-between;
    }

    .mobile-menu {
        align-self: center;
        cursor: pointer;
    }

}

a {
    text-decoration:none;
    color: white;

    &:hover {
        color: #6472F9;
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section {
    padding: 5em 2em 2em;
}


nav.menu-btn {
    display: block;
}

nav {
    background: #353C51;
    width: 35%;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    padding: 1em;
    z-index: 999;


    ul {

        li {
            cursor: pointer;
            a {
                color: white;
                transition: all .5s;
                display: block;
                padding: 0.8em;
                font-weight: 400;
                text-transform: uppercase;
                text-align: right;

                &:hover {
                    font-weight: bold;
                    color: #6472F9;
                }
            }
        }
    }

    ul.main-nav {
        margin-top: 5em;
    }

    .mobile-menu-exit {
        float: right;
        margin: 0.5em;
        cursor: pointer;
    }
}



#hero {
    text-align: center;

    .hero-info {
        color: white;
        margin-top: -2em;
        margin-bottom: 5em;
        .hero-title {
            justify-self: center;
            text-transform: uppercase;
            font-size: 2em;
            text-shadow: 0px 2px 4px rgba(0,0,0,.4);
            
        }

        .hero-descr {
            margin-top: -0.5em;
            font-size: 1.3em;
            font-weight: 400;
        }
    }

    .hero-img {
        width: 90%;
        margin: 0 auto;
    }

}

#about {
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
    background: white;

    .about-title {
        font-family: Montserrat;
        text-align: center;
        text-transform: uppercase;
        color: #232323;
    }

    .about-text {
        font-family: Montserrat;
        font-weight: 300;
        width: 80%;
        margin: 5% auto;
        text-align: justify;
        color: black;
    }
}

footer {
    text-align: center;
    padding:50px 0;
    color:#fff;
    background-color: #353C51;

    h3 {
        margin-top:0;
        margin-bottom: 0.5em;
        font-weight:bold;
        font-size: 1.2em;
    }

    ul {
        line-height:1.6;
        font-size: 1em;
        
        a {
            color:inherit;
            text-decoration:none;
            opacity:0.6;

            &:hover {
                color: #BD63F8;
            }
        }
    }

    .item {
        padding-bottom: 1.5em;
    }

    .text {

        p {
            opacity:0.6;
            margin-bottom:0;
        }
    }


    .copyright {
        float: bottom;
        padding-top: 1em;
        opacity:0.3;
        font-size:0.85em;
        margin-bottom:0;
    }
    
}

#logout{
    display: none;
}

@media only screen and (min-width: 676px){

    .mobile-menu, .mobile-menu-exit {
        display: none;
    }

    header .navbar {
        display: grid;
        grid-template-columns: 140px auto;
        justify-content: unset;
    }

    header nav {
        display: flex;
        justify-content: space-between;
        background: none;
        position: unset;
        height: auto;
        width:100%;
        padding: 0;

        ul {
            display: flex;
            align-items: center;

            li {

                a {
                    padding: .1em 1em;
                    font-weight: 400;
                    text-transform: uppercase;
                    text-shadow: 0px 0.5px 1px rgba(0,0,0,.4);

                    &:hover {
                        color: #6472F9;
                        font-weight: 400;
                    }
                }
            }
        }

        ul.main-nav {
            margin: 0;
            .bold a {
                font-weight: bold;
            }
        }

        ul.second-nav {
            margin-right: 1em;
            .bold a {
                font-weight: bold;
            }
        }


        .rounded a {
            color: #6472F9;
            border: 2px solid #6472F9;
            font-weight: 600;
            border-radius: 5em;

            &:hover {
                color: white;
                font-weight: 600;
                background: #6472F9;
            }

        }
    }

    #hero .container .hero-info{

            h1 {
                font-size: 2.8em;
            }
            h2 {
                font-size: 1.7em;
            }
    }



    footer {
        padding: 50px auto;

        .item {
            display: inline-block;
        }

        .itemleft {
            float: left;
            margin-left: 20%;
        }

        .itemright {
            float: right;
            margin-right: 20%;
        }
    }
}

@media only screen and (min-width: 991px){

    .container {
        width: 90%;
        margin: 0 auto;
    }

    .navbar {
        margin: 0 5%;
    }

    #hero .container {
        display: flex;
        text-align: center;
        align-content: space-between;

        .hero-info{
            margin: 6em 2.5% 5em 0;
            width: 55%;
            h1 {
                display: block;
                font-size: 2.5em;
            }
            h2 {
                display: block;
                font-size: 1.8em;
            }
        }
        .hero-img{
            align-self: center;
            margin-left: 2.5%;
            width: 45%;
        }
    }
}