@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,400;0,900;1,300;1,800&display=swap');

* {
    font-family: Raleway, sans-serif;
    margin: 0;
    padding: 0;
}


header {
    width: 100%;
    height: 80vh;
    position: relative;
    display: grid;
    grid-template-rows: max-content 1fr;
    grid-template-columns: 1fr max-content;
}

.header_bg {
    width: 100%;
    height: 100%;
    background-image: url("https://images.unsplash.com/photo-1523240795612-9a054b0db644?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ");
    background-size: cover;
    background-position: center;
    filter: brightness(50%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.header_title {
    grid-area: 2 / 1 / 2 / 3;
    align-self: center;
    justify-self: center;
    color: white;
    text-transform: uppercase;
    font-size: 4rem;
    text-shadow: 0px 2px 4px rgba(0,0,0,.4);
    margin-top: -5rem;
}

.logo {
    float: left;
    width: 50px;
    margin: 20px;
}

nav {
    float: right;
    margin: 25px 20px 0 0;
    padding: 0;
}

nav ul {
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;

}
nav ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #D9FAFF;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: #555;
}

nav.shift ul li a {
  position:relative;
  z-index: 1;
}
nav.shift ul li a:hover {
  color: #00BBF0;
}
nav.shift ul li a:after {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  background: #D9FAFF;
  visibility: none;
  opacity: 0;
  z-index: -1;
}
nav.shift ul li a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

.about {
   width: 100%;
   height: 60vh;
   margin-top: -7rem;
   clip-path: polygon(0 27%, 100% 0, 100% 100%, 0 100%);
   background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="4" height="4" viewBox="0 0 4 4"%3E%3Cpath fill="%239C92AC" fill-opacity="0.4" d="M1 3h1v1H1V3zm2-2h1v1H3V1z"%3E%3C/path%3E%3C/svg%3E');
}

.about_title {
    padding-top: 7rem;
    text-align: center;
    text-transform: uppercase;
    color: #232323;
}

.about_text {
    width: 80%;
    margin: 5% auto;
    text-align: justify;
}

footer {
    margin-top: 10%;
    padding:50px 0;
    color:#f0f9ff;
    background-color: #282d32;
}

.container {
    text-align: center;
    
}

.itemleft {
    float: left;
    margin-left:20%;
}

.itemright {
    float: right;
    margin-right:20%;
}


footer h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

footer ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

footer ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}

@media (max-width:700px) {
  footer .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}

footer .item .text {
  margin-bottom:36px;
}

@media (max-width:700px) {
    footer .item .text {
    margin-bottom:0;
  }
}

footer .itemright.text p {
  opacity:0.6;
  margin-bottom:0;
}


footer .copyright {
    float: bottom;
    text-align:center;
    padding-top:24px;
    opacity:0.3;
    font-size:13px;
    margin-bottom:0;
}