main {
  text-align: center;
}

main h1 {
  font-size: 2.5em;
  padding: 1em;
}

main #no-classes h2 {
  font-weight: 400;
}

main .container {
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: 2em auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .container h2 {
  display: inline-block;
}

main .container .add-btn {
  display: inline-block;
  cursor: pointer;
  height: 35px;
}

main .container #add-box {
  position: absolute;
  background: white;
  width: 12em;
  right: 3em;
  border-radius: 1em;
  -webkit-box-shadow: 0px 0px 8px #6472F9;
          box-shadow: 0px 0px 8px #6472F9;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: .2s ease opacity,.2s ease transform;
  transition: .2s ease opacity,.2s ease transform;
  z-index: 50;
}

main .container #add-box ul {
  padding: 0.5em 0;
}

main .container #add-box ul li {
  color: #1F1E2C;
  -webkit-transition: color .5s, -webkit-box-shadow .5s;
  transition: color .5s, -webkit-box-shadow .5s;
  transition: box-shadow .5s, color .5s;
  transition: box-shadow .5s, color .5s, -webkit-box-shadow .5s;
  -webkit-box-shadow: inset 0 0 0 50px white;
          box-shadow: inset 0 0 0 50px white;
  cursor: pointer;
  margin: 0.5em 0;
  padding: 0.5em 0;
  width: 100%;
}

main .container #add-box ul li a {
  color: #1F1E2C;
}

main .container #add-box ul li a:hover {
  color: unset;
}

main .container #add-box ul li:hover {
  -webkit-box-shadow: inset 0 0 0 50px lightgrey;
          box-shadow: inset 0 0 0 50px lightgrey;
}

main .container #join-box {
  background: white;
  color: #1F1E2C;
  padding: 1em 2em 1.5em;
  border-radius: 1em;
  -webkit-box-shadow: 0px 0px 10px #6472F9;
          box-shadow: 0px 0px 10px #6472F9;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: .2s ease opacity,.2s ease transform;
  transition: .2s ease opacity,.2s ease transform;
  font-size: 0.9em;
  z-index: 100;
}

main .container #join-box input[type=text] {
  width: 90%;
  font-size: 0.8em;
  padding: 0.5em;
  margin-top: .5em;
  border: 0.5px solid lightgrey;
  border-radius: 0.5em;
}

main .container #join-box input[type=submit] {
  width: 100%;
  margin-top: 0.5em;
  padding: 0.3em 0;
  border-radius: 0.5em;
  background-color: #6472F9;
  border: solid 1px transparent;
  color: #fff;
  cursor: pointer;
  font-size: 0.9em;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

main .container #join-box input[type=submit]:hover {
  background-color: transparent;
  border-color: #1F1E2C;
  color: #1F1E2C;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

main #classes-area {
  text-align: center;
  margin: 2em auto;
}

main #classes-area .class-box {
  position: relative;
  display: inline-block;
  background: #353C51;
  width: 15em;
  height: 10em;
  margin: 0 1em 3em 0;
  padding: 1em;
  border: 1px solid black;
  border-radius: 1em;
  -webkit-box-shadow: 0px 0px 15px -2px #6472F9;
          box-shadow: 0px 0px 15px -2px #6472F9;
  z-index: 10;
}

main #classes-area .class-box a {
  color: white;
}

main #classes-area .class-box a:hover {
  color: #6472F9;
}

main #classes-area .class-box h2 {
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 0;
  text-align: left;
  width: 8em;
  white-space: nowrap;
}

main #classes-area .class-box h5 {
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0 0 0.5em;
  text-align: left;
  font-weight: 400;
  width: 13em;
  height: 2em;
  white-space: nowrap;
}

main #classes-area .class-box .teacher-profile {
  position: absolute;
  top: 4em;
  left: 13em;
  width: 80px;
  border-radius: 1em;
}

main #classes-area .class-box .more {
  width: 24px;
  position: absolute;
  top: 1em;
  left: 14.5em;
  cursor: pointer;
}

main #classes-area .class-box .more-box {
  position: absolute;
  color: #1F1E2C;
  background: white;
  top: 3em;
  left: 10.5em;
  width: 7em;
  height: 4em;
  border-radius: 1em;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: .2s ease opacity,.2s ease transform;
  transition: .2s ease opacity,.2s ease transform;
}

main #classes-area .class-box .more-box ul {
  padding: 1em 0;
}

main #classes-area .class-box .more-box ul a {
  color: #1F1E2C;
}

main #classes-area .class-box .more-box ul a:hover {
  color: #1F1E2C;
}

main #classes-area .class-box .more-box ul li {
  -webkit-transition: all .5s;
  transition: all .5s;
  cursor: pointer;
  margin: 0;
  padding: 0.2em 0;
  width: 100%;
}

main #classes-area .class-box .more-box ul li:hover {
  background-color: lightgrey;
}

#bg-pop_up {
  display: none;
  text-align: left;
  width: 100%;
  height: 100%;
  font-family: Poppins;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  justify-items: center;
  z-index: 999;
}

.c-container {
  width: 500px;
  opacity: 1;
  margin: auto;
  color: white;
  background-color: #1f1e2c;
  font-family: Poppins;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 0.5em;
  padding: 1em;
  padding-top: 0.1em;
  -webkit-box-shadow: 0px 0px 15px -2px #6472f9;
          box-shadow: 0px 0px 15px -2px #6472f9;
  font-size: 1.3em;
}

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  place-content: space-between;
  color: white;
}

.top h4 {
  font-size: 1.4em;
  color: #6472f9;
  padding-left: 1em;
  margin-top: 1em;
}

.top .close-img {
  padding: 0.3em;
  padding-top: 0em;
  font-size: 2em;
  cursor: pointer;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.top .close-img:hover {
  color: #6472f9;
}

.set-info {
  padding: 1em;
  padding-top: 0em;
}

.info {
  margin-bottom: 1em;
}

.sbm-holder {
  text-align: right;
}

.sbm-holder .sbm-btn {
  background-color: #6472f9;
  border: none;
  overflow: hidden;
  padding: 0.2em 1em 0.2em 1em;
  position: relative;
  border-radius: 2em;
  font-size: 1em;
  color: white;
  cursor: pointer;
}

.sbm-holder .sbm-btn:hover {
  font-size: 1.05em;
}

.inpt-cls {
  display: block;
  text-align: center;
  color: black;
  font-size: 1em;
  width: 80%;
  height: 2.5em;
  border-radius: 2em;
  margin: 0 auto;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #bfc3ce;
}

.inpt-cls:focus {
  background-color: white;
  width: 100%;
  font-weight: bold;
  border: none;
}

.nombre-std {
  display: none;
  margin-top: 1em;
}

.nombre-std input {
  width: 30%;
  margin: 0.5em auto;
}

.nombre-std input:focus {
  width: 30%;
}

@media only screen and (max-width: 676px) {
  .c-container {
    margin: auto 10%;
    font-size: 0.8em;
  }
}

.pictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.pictures .bg-picture {
  height: 8em;
}

.pictures .bg-picture1, .pictures .bg-picture3 {
  display: none;
}

@media only screen and (min-width: 585px) {
  main #classes-area .class-box {
    margin: 0 3em 3em 0;
  }
}

@media only screen and (min-width: 890px) {
  main {
    text-align: center;
  }
  main #classes-area {
    width: 90%;
    text-align: left;
    margin: 2em auto;
  }
  main #classes-area .class-box {
    width: 19em;
  }
  main #classes-area .class-box h2 {
    width: 10em;
  }
  main #classes-area .class-box h5 {
    width: 18em;
  }
  main #classes-area .class-box .teacher-profile {
    left: 17.5em;
  }
  main #classes-area .class-box .more {
    left: 18.5em;
  }
  main #classes-area .class-box .more-box {
    width: 8em;
    left: 13em;
  }
  .pictures .bg-picture1 {
    display: inline-block;
  }
  main .container #add-box {
    width: 20em;
  }
  main .container #add-box #join-box {
    font-size: 1em;
  }
  main .container #add-box #join-box input[type=submit] {
    width: 95%;
  }
  .more-box {
    text-align: center;
  }
}

@media only screen and (min-width: 991px) {
  .pictures .bg-picture3 {
    display: inline-block;
  }
}
/*# sourceMappingURL=classes.css.map */