@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,400;0,900;1,300;1,800&display=swap');


* {
    font-family: Poppins, Montserrat, sans-serif;
}

body {
    background: #1F1E2C;
    font-family: Poppins, Montserrat, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}


.container {

    height: 100vh;
    width: 100%;
    background: rgb(100, 114, 249);
    background: radial-gradient(circle, rgba(100, 114, 249, 1) 0%, rgba(53, 60, 81, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1em 0em;
}

.container_sign-in {

    .left {
        display: none;
    }

    background: #353c51;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 90%;
    height: fit-content;

    max-width: 450px;
    margin : 3em 1em;
    margin :1em auto;
    padding: 1em 0em;

    display: flex;
    justify-content: center;
    align-items: center;


    .right {
        margin: 0em;
        width: 100%;

        //padding: 2em 0em;
        h4 {
            font-size: 1.8em;
            color: #6472f9;
            text-align: center;
            margin-bottom: 1em;
        }

        p {
            color: white;
            text-align: center;
        }


        .info {
            padding: 1em;
        }

        .set_info {
            margin: 1em;


        }

        .set_info input {
            display: block;
            margin: auto;
            border: 0;
            border-bottom: 1px solid #555;
            background: transparent;
            width: 100%;
            padding: 0.5em 0.4em;
            font-size: 16px;
            color: #fff;
            padding: 0em 1em;

            &:focus {
                border: none;
                outline: none;
                border-bottom: 1px solid #6472f9;

            }

            &::placeholder {

                color: white;
                opacity: 0.8;

            }

        }


        label {

            align-items: center;
            font-size: 1, 1em;
            color: #6472f9;
            transition: all 0.5s ease-in-out;
        }

        .show_hide_pswd {
            text-align: center;
            place-content: center;
            color: #6472f9;
            font-size: 0.8em;
            font-weight: bold;
            margin: 0em;
            margin-top: 1em;

        }

        #sh_p1,
        #hi_p1 {

            width: fit-content;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }

        #hi_p1 {
            display: none;
        }

        #button1 {
            color: #fff;
            background-color: #5c69e6;
            font-size: 1em;
            outline: none;
            border: 0;
            color: #fff;
            padding: 0.2em 1em;
            text-transform: uppercase;
            margin-top: 1em;
            border-radius: 2px;
            cursor: pointer;

        }

        .login {
            margin-top: 1em;
            text-align: center;
            place-content: center;
        }

        .set_info input:focus~label,
        .set_info input:valid~label {
            top: -12px;
            font-size: 12px;

        }
    }

    .create-acc {

        text-align: center;
        margin-top: 1em;
        margin-bottom: 1em;
        color: white;
        // font-size: smaller;

        span {
            color: #6472f9;
            cursor: pointer;
            font-weight: bold;

        }

        a {
            text-decoration: none;

        }

    }


}

@media only screen and (min-width:750px) {
  

    .container_sign-in {


        margin: auto;


        height: fit-content;
        min-height: 600px;
        max-width: 700px;
        padding: 0em;
        background-image: linear-gradient(to right, #ebefff 30%, rgba(0, 0, 0, 0) 25%);


        .left {
            display: inline-block;
            text-align: center;
            width: 30%;
            height: 100%;


            h4 {

                font-size: 1.5em;
                text-align: center;
                color: #6472f9;
                margin-bottom: 0;

            }

            img {

                text-align: center;

                width: 80%;
                height: 390px;

            }
        }

        .right {
            width: 70%;
            height: 100%;
        }
    }

}